:root {
  --black: #111111;
  --yellow: #f4d04e;
  --grey: #7f7f7f;
}

@font-face {
  font-family: 'Figtree';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Figtree-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 800;
  font-style: normal;
  src: url('./fonts/Figtree-ExtraBold.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    'Figtree',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
